.intellect-choose {
    max-width: 600px;
    margin: 0 auto;
    list-style: none;
    position: relative;
}
.intellect-choose__item {
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: -1;
}
.intellect-choose__img-w {
    display: flex;
    align-items: center;
}
.intellect-choose__text {
    margin: 0 0 0 75px;
}
.intellect-choose__item.active {
    animation: 2s ease-in-out 0s slide;
}

.intellect-choose__item.active .intellect-choose__img {
    animation: 2s linear 0s slideImg;
}
.intellect-choose__item.active .intellect-choose__text-w {
    animation: 2s linear 0s slideText;
}

@keyframes slide {
    0% {
        z-index: -1;
        opacity: 0;
    }
    20% {
        z-index: 1;
        opacity: 1;
    }
    80% {
        z-index: 1;
        opacity: 1;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}

@keyframes slideImg {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        transform: scale(1.1);
        opacity: .5;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
    70% {
        transform: scale(1);
        opacity: 1;
    }
    85% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(.4);
    }
}

@keyframes slideText {
    0% {
        transform: translateX(20px);
    }
    20% {
        transform: translateX(0);
    }
    70% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}

