<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="wrapper">
    <div class="sample">
        <h1>Hello dude</h1>
        <div>
             <app-progress
                v-for="post in posts"
                :style="{ fontSize: postFontSize + 'em' }"
                :title="post.title"
                v-bind:key="post.id"
                :id="post.id"
                v-on:enlarge-text="postFontSize += 0.1"
            ></app-progress>

            <app-progress
                v-for="post in posts"
                :title="post.title"
            >
            </app-progress>
        </div>
    </div>

</div>

<style>
    .wrapper {
        max-width: 300px;
        padding: 10px 20px;
    }
    .form-groupe {
        margin-bottom: 10px; }
    .form-groupe:first-child {
        margin-top: 30px;
    }
    .btn.btn-primary {
        max-width: 50px;
        margin-left: 20px;
    }
    .table td:first-child {
        width: 75%;
        min-width: 90px;
    }
</style>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
<script>

    Vue.component('app-progress', {
        props: ['title', "id"],
        template: `<div><span>{{ id }}</span> <h3>{{ title }}</h3>
            <button v-on:click="$emit('enlarge-text')">
                Увеличить размер текста
            </button >
            </div>`
    });

    new Vue({
        el: '.sample',
        data: {
            posts: [
                { id: 1, title: 'My journey with Vue' },
                { id: 2, title: 'Blogging with Vue' },
                { id: 3, title: 'Why Vue is so fun' }
            ],
            postFontSize: 1
        }
    })

</script>
</body>
</html>